In [1]:
import plotly.express as px
import numpy as np
import pandas as pd
import DataClean
import datetime
import os
# import plotly.graph_objects as go

In [24]:
import pickle

In [25]:
dat = pickle.load(open('compiled_data.p', 'rb'))
countries = list(dat.index.get_level_values(0).unique())
stats = list(dat.columns)
stat_map = {
    'DailyPosTestRate': 'Daily Positive Test Rate',
    'Confirmed': 'Confirmed Tests',
    'NewTests': 'Daily New Tests',
    'CumulativePosTestRate': 'Cumulative Positive Test Rate',
    'NewCases': 'New Cases',
    'TotalTests': 'Total Tests',
    'ConfirmedGrowth': 'Daily Confirmed Cases Growth (%)',
    'CumulativeDeathRate': 'Cumulative Death Rate',
    'HospitalizationRate': 'Hospitalization Rate',
    'TotalTestsPer10k': 'Total Tests per 10k Population',
    'ConfirmedPer10k': 'Total Confirmed per 10k Population',
    'NewTestsPer10k': 'Daily Tests per 10k Population'
}

xs = ['DaysSinceFirst', 'Date', 'DaysSinceTenthDeath', 'DaysSinceShutdown']
xs_map = {'DaysSinceFirst': 'Days Since First Confirmed',
         'DaysSinceTenthDeath': 'Days Since 10th Death',
         'DaysSinceShutdown': 'Days Since Economic Shutdown'}

# Important Dates by Country:

### Peru
- Sourhces: ministerio de salud, wikipedia page
* March 11 - Declaran emergencia sanitaria por 90 dias
* March 13 - Suspenden vuelos internacional desde Europa y Asia
* March 16 - Teletrabajo para todos menos los esenciales
* March 17 - Cierran fronteras
* March 18 - Cuarentena general entre 8PM y 5 AM.
* https://www.dge.gob.pe/portal/

### Panama
* Something

### Guatemala
- Source: Alejandro Giammattei twitter
* March 22 - Cuarentena general entre 4 PM y 4 AM por 8 dias

### Testing Analysis stuff

In [37]:
import pandas as pd
import numpy as np
import datetime

In [78]:
r = pd.read_csv('data/Colombia_data.csv',
            index_col=0,
            parse_dates = True)

status_codes = {
    'Casa': 'I',
    'Hospital': 'I',
    'Hospital UCI': 'I',
    'Fallecido': 'D',
    'Recuperado': 'R' 
}

In [79]:
class Person:
    def __init__(self, city, zip_code, age, diag_date, death_date, rec_date, sex, status):
        self.city = city
        self.zip_code = zip_code
        self.age = age
        self.diag_date = diag_date
        self.death_date = death_date
        self.rec_date = rec_date
        self.sex = sex
        self.status = status
        self.infection_status = status_codes.get(status, 'I')
    
    def __repr__(self):
        return '(City: {}, Sex: {}, Age: {}, Status: {})'.format(self.city, self.sex, self.age, self.status)

In [80]:
people = []
TODAY = datetime.date.today()
for p in r.iterrows():
    x = p[1]
    city = x.ciudad_de_ubicacion
    zip_code = x.codigo_divipola
    age = x.edad
    diag_date = x.fecha_diagnostico
    death_date = x.fecha_de_muerte
    rec_date = x.fecha_recuperado
    sex = x.sexo
    status = x.iloc[-1]
    person = Person(city, zip_code, age, diag_date, death_date, rec_date, sex, status)
    people.append(person)

In [94]:
import requests
from bs4 import BeautifulSoup

# people[:5]
#Use the data on Colombia demographics to create a probability density for people. Then sample
#(N - patients) people in order to get a population. Note: This may be a LOT of individuals to handle, we'll see
#what happens.
#https://en.wikipedia.org/wiki/Demographics_of_Colombia

#1) Age: 0-14: 26.7%.  15-64: 65.6%.  65+: 7.6%
# P(sex and age) = P(sex|age) P(age)
# Should be a "normal" distribution shape (maybe gamma) where probabilities are as above.
# sample age
# P(male|age < 15) = 1.03/(2.03). P(male|age in 15-64) = 0.95/(1.95). P(male | age > 64) = 0.75/1.75


"""
0-4: 6.88%    5-9: 7.55%    10-14: 8.17%
15-19: 8.72%  20-24: 8.92%  25-29: 8.36%
"""
website_url = 'https://en.wikipedia.org/wiki/Demographics_of_Colombia'

s = requests.get(website_url).text

s = BeautifulSoup(s)

In [102]:
age_groups_table = s.find_all('table', {'class': 'wikitable'})[2]

In [238]:
header = [th.text.rstrip() for th in age_groups_table.find_all('th')]
# header.remove('Total')

to_keep = [0, 1, 2, 3, 4]

col_to_h = {i:j for i, j in zip(to_keep, header)}

c = {i:[] for i in to_keep}

for row in age_groups_table.find_all('tr'):
    cells = row.find_all('td')
    if len(cells) == 5 and cells[0].find(text=True).rstrip() != 'Total':
        for i in to_keep:
            c[i].append(cells[i].find(text=True).rstrip())
#         c0.append(cells[0].find(text=True).rstrip())
#         c1.append(cells[1].find(text=True).rstrip())
#         c2.append(cells[2].find(text=True).rstrip())
#         c4.append(cells[4].find(text=True).rstrip())

In [239]:
c = {col_to_h[i]: d for i, d in c.items()}

d = pd.DataFrame(c)

In [240]:
d.columns = [x.replace(' ', '_') for x in d.columns]
d.columns = [x.replace('%', 'Percent') for x in d.columns]
d['Age_Group'] = d.Age_Group.str.replace('+', '-100')
d['Age_Group'] = d.Age_Group.str.replace('â€“', '-')

In [241]:
m = d.Age_Group.str.split('-', expand=True)

d['min_age_group'] = m[0]
d['max_age_group'] = m[1]

d = d.drop(columns = ['Age_Group'])

In [242]:
for c in d.columns:
    if c != 'Percent':
        d[c] = pd.to_numeric(d[c].str.replace(',', ''))
    else:
        d[c] = pd.to_numeric(d[c].str.replace(',', '.'))

In [243]:
d

       Male   Female    Total  Percent  min_age_group  max_age_group
0   1698699  1621485  3320184     6.88              0              4
1   1862778  1780738  3643516     7.55              5              9
2   2017205  1925513  3942718     8.17             10             14
3   2152328  2055812  4208140     8.72             15             19
4   2166806  2137851  4304657     8.92             20             24
5   2007553  2026857  4034410     8.36             25             29
6   1804867  1857952  3662819     7.59             30             34
7   1703524  1809693  3513217     7.28             35             39
8   1428451  1568401  2996852     6.21             40             44
9   1360889  1529794  2890683     5.99             45             49
10  1327108  1510491  2837599     5.88             50             54
11  1153378  1336760  2490138     5.16             55             59
12   916911  1076164  1993075     4.13             60             64
13   699748   820394  1520142     3.15             65             69
14   501888   598405  1100293     2.28             70             74
15   357112   443978   801090     1.66             75             79
16   415967   582994   998961     2.07             80            100

## Mexico Data

In [84]:
import requests
import zipfile
import io
import pandas as pd
import numpy as np
import datetime

In [11]:
url = "http://187.191.75.115/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip"

r = requests.get(url, stream = True)

In [13]:
f = zipfile.ZipFile(io.BytesIO(r.content))
print(f.namelist())

['200420COVID19MEXICO.csv']

In [18]:
with f.open(f.namelist()[0]) as thefile:
    res = pd.read_csv(thefile)

### Useful variable(s) and definitions:
- Sexo: 1 mujer, 2 hombre, 99 not specified
- Edad
- Resultado: 1 positivo, 2 negativo, 3 sospechoso
- Tipo Paciente: 1 hospitalizado, 2 fue a su casa, 99 no especificado
- Fecha Def: fecha en que fallece. No fallecido is '9999-99-99'

In [44]:
to_keep = ['FECHA_ACTUALIZACION', 'FECHA_INGRESO', 'RESULTADO', 'TIPO_PACIENTE', 'FECHA_DEF']
res.EDAD.unique()

array([ 75,  31,  22,  26,  50,  55,  52,  41,  40,  29,  71,  18,  69,
        45,  64,  61,  33,  51,  77,  84,  59,  53,  54,  43,  23,  65,
        30,  32,  21,  58,  27,  44,  48,  68,  60,  47,  35,  76,  24,
        39,  37,  42,  70,  74,  38,  36,   8,   6,  17,  25,  49,  28,
        34,  72,  46,  67,  57,  56,   2,  73,   1,  62,  82,   4,  19,
        80,  89,   3,  20,  12,  11,  85,  63,  87,   5,  81,  83,  96,
        66,  10,  15,  13,  78,  90,   0,   9,  95, 107,  86,  16,   7,
        94,  88,  14,  93,  79,  91,  92, 102,  99,  97, 109, 100, 113,
        98, 120, 101], dtype=int64)

In [101]:
# pd.to_datetime(res.FECHA_DEF.str.replace('9999-99-99', str(np.nan)))
# (res['RESULTADO'] == 1).sum()
# res.POSITIVE.sum()
# res.FECHA_DEF
# res[to_keep].dtypes
# res.ID_REGISTRO.unique()

array(['09e8dc', '1dd782', '0efbaf', ..., '145db8', '17eb11', '02242c'],
      dtype=object)

In [34]:
# 1) http://187.191.75.115/gobmx/salud/datos_abiertos/historicos/datos_abiertos_covid19_19.04.2020.zip
# 2) http://187.191.75.115/gobmx/salud/datos_abiertos/historicos/datos_abiertos_covid19_18.04.2020.zip
# 3) http://187.191.75.115/gobmx/salud/datos_abiertos/historicos/datos_abiertos_covid19_20.04.2020.zip
# r = requests.get('http://187.191.75.115/gobmx/salud/datos_abiertos/historicos/datos_abiertos_covid19_20.04.2020.zip')
# 4) http://187.191.75.115/gobmx/salud/datos_abiertos/historicos/datos_abiertos_covid19_12.04.2020.zip
# r.status_code

404

In [221]:
def clean_mx_data(df, date):
    """
    Should return a row of a df, indexed by Date, Country (Mexico) with columns Confirmed,
    Totaltests (confirmed + negative), Deaths. Hospitalization would also be nice.
    """
    result_df = {}
    
    
#     result_df['Date'] = pd.to_datetime(df.FECHA_ACTUALIZACION.iloc[0])
    result_df['Date'] = date
    result_df['Country'] = 'Mexico'
    result_df['Confirmed'] = (df['RESULTADO'] == 1).sum()
    result_df['TotalTests'] = (df['RESULTADO'] == 2).sum() + result_df['Confirmed']
    result_df['Deaths'] = df.query('RESULTADO == 1 & FECHA_DEF != "9999-99-99"').FECHA_DEF.count()
    
#     dtypes = {
#         'Date': np.datetime64,
#         'Country': np.str_,
#         'Confirmed': 'int64',
#         'Totaltests': 'int64',
#         'Deaths': 'int64'
#     }
    
    result_df = pd.DataFrame(result_df, index = [0])
    
    return result_df

In [218]:
# res[res[res.RESULTADO == 1 & res.FECHA_DEF != '9999-99-99']]
res.query('RESULTADO == 1 & FECHA_DEF != "9999-99-99"').FECHA_DEF.count()

712

In [222]:
def get_mexico_data(days_backwards = 7, verbose = False):
    end = datetime.date.today()
    start = datetime.date.today() - datetime.timedelta(days = days_backwards)
    dates_to_see = pd.date_range(start, end)
    
    res = pd.DataFrame()
    
    for d in dates_to_see:
        if verbose: print('Mexico pulling for {}'.format(d.strftime('%d-%m-%Y')))
        url = "http://187.191.75.115/gobmx/salud/datos_abiertos/historicos/datos_abiertos_covid19_{}.zip".format(
        d.strftime('%d.%m.%Y'))
        r = requests.get(url, stream = True)

        #fof represents 404 error on first try. Means we've reached last day of data.
        fof = r.status_code == 404
        if fof:
            #If it's not under historical, grab most recent
            r = requests.get("http://187.191.75.115/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip")

        f = zipfile.ZipFile(io.BytesIO(r.content))
        with f.open(f.namelist()[0]) as thefile:
            df = pd.read_csv(thefile)
        
        #Takes care of case when we had to go to recent df and it's yesterday's data.
        if fof and df.FECHA_ACTUALIZACION.iloc[0] != d:
            continue
        
        c = clean_mx_data(df, d)
        res = res.append(c)
        
    return res.set_index(['Country', 'Date']).astype('int64')

In [223]:
r = get_mexico_data(days_backwards = 7)

## Mexico Update

- Pos: # casos positivos
- Tested_Total: # tests (sum of pos and negative)
- Recovered
- Deceased

In [1]:
import pandas as pd
import numpy as np

In [42]:
def get_mx_data(verbose = False):
    base_url = "https://raw.githubusercontent.com/mariorz/covid19-mx-time-series/master/data/covid19_{}_mx.csv"
    types = [('confirmed', 'Confirmed'),
             ('deaths', 'Deaths'),
             ('negatives', 'Negatives')]
    base_df = pd.DataFrame()
    
    for url_name, my_name in types:
        if verbose: print('Retrieving {}'.format(url_name))
        df = pd.read_csv(base_url.format(url_name))
        df = df.drop(columns = ['Estado']).sum(axis=0).rename_axis('Date').rename(my_name).to_frame()
        base_df = base_df.join(df, how = 'outer')
    
    base_df['TotalTests'] = base_df['Confirmed'] + base_df['Negatives']
    base_df['Country'] = ['Mexico'] * len(base_df.index)
    
    base_df = base_df.drop(columns = 'Negatives')
    
    base_df = base_df.replace(0, np.nan).reset_index().set_index(['Country', 'Date'])
    
    return base_df
        


# url1 = "https://raw.githubusercontent.com/mariorz/covid19-mx-time-series/master/data/covid19_confirmed_mx.csv"
# url2 = "https://raw.githubusercontent.com/mariorz/covid19-mx-time-series/master/data/covid19_deaths_mx.csv"
# url3 = "https://raw.githubusercontent.com/mariorz/covid19-mx-time-series/master/data/covid19_negatives_mx.csv"

#Interesado en:
# url = 'https://raw.githubusercontent.com/carranco-sga/Mexico-COVID-19/master/Mexico_COVID19_CTD.csv'

# df = pd.read_csv(url)
# to_keep = [
#     'Fecha',
#     'Pos',
#     'Tested_tot',
#     'Recovered',
#     'Deceased'
# ]
# df = pd.read_csv(url)

get_mx_data()
# df[to_keep]

                    Confirmed  Deaths  TotalTests
Country Date
Mexico  23-01-2020        NaN     NaN         NaN
        24-01-2020        NaN     NaN         NaN
        25-01-2020        NaN     NaN         NaN
        26-01-2020        NaN     NaN         NaN
        27-01-2020        NaN     NaN         NaN
...                       ...     ...         ...
        17-04-2020     6875.0   546.0     35001.0
        18-04-2020     7497.0   650.0     36798.0
        19-04-2020     8261.0   686.0     39431.0
        20-04-2020     8772.0   712.0     41262.0
        21-04-2020     9501.0   857.0     43372.0

[90 rows x 3 columns]

In [26]:
df.drop(columns = ['Estado']).sum(axis=0).rename_axis('Date').rename('Confirmed').to_frame()

            Confirmed
Date
23-01-2020          0
24-01-2020          0
25-01-2020          0
26-01-2020          0
27-01-2020          0
...               ...
17-04-2020       6875
18-04-2020       7497
19-04-2020       8261
20-04-2020       8772
21-04-2020       9501

[90 rows x 1 columns]

## Chile Data

In [10]:
import pandas as pd
import numpy as np

In [2]:
base_url = 'https://github.com/MinCiencia/Datos-COVID19/output'

icu_URL = 'https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto8/UCI_T.csv'
casos_totales_URL = 'https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto5/TotalesNacionales.csv'

In [112]:
def clean_chile_data(df, df_name):
    if df_name == 'TotalesNacionales':
        rename_map = {
            'Casos totales': 'Confirmed',
            'Casos recuperados': 'Recovered',
            'Fallecidos': 'Deaths'
        }
        df = df.T
        df.columns = df.iloc[0].str.rstrip()
        df = df[1:].rename(columns = rename_map)[list(rename_map.values())]        
    elif df_name == 'PCREstablecimiento':
        df = df.query('Examenes == "realizados"').T
        df = df[2:].astype('int64').sum(axis=1).rename('TotalTests').to_frame()
    elif df_name == 'UCI':
        df = df.T.drop(['Region', 'Codigo region', 'Poblacion']).sum(axis=1).rename('ICU').to_frame()
    elif df_name == 'HospitalizadosEtario':
        df.T.drop(['Grupo de edad', 'Sexo']).astype('int64').sum(axis=1).rename('Hospitalized').to_frame()
    
    return df

In [149]:
def load_chile_data(verbose = False):
    prod_filename_map = {
        5: 'TotalesNacionales',
        8: 'UCI',
        17: 'PCREstablecimiento',
    }
    general_URL_form = 'https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto{}/{}.csv'
    
    master_df = pd.DataFrame()
    
    for num, name in prod_filename_map.items():
        url = general_URL_form.format(num, name)
        if verbose: print(url)
        df = pd.read_csv(url)
            
        df = clean_chile_data(df, name)
        
        master_df = master_df.join(df, how = 'outer')
    
    master_df['Country'] = ['Chile'] * len(master_df.index)
    master_df.index = master_df.index.rename('Date')
    
    return master_df.reset_index().set_index(['Country', 'Date'])

In [152]:
master_df = load_chile_data()
master_df.replace(0, np.NaN)

                    Confirmed  Recovered  Deaths    ICU  TotalTests
Country Date
Chile   2020-03-03          1        NaN     NaN    NaN         NaN
        2020-03-04          3        NaN     NaN    NaN         NaN
        2020-03-05          4        NaN     NaN    NaN         NaN
        2020-03-06          5        NaN     NaN    NaN         NaN
        2020-03-07          7        NaN     NaN    NaN         NaN
        2020-03-08         10        NaN     NaN    NaN         NaN
        2020-03-09         15        NaN     NaN    NaN         NaN
        2020-03-10         17        NaN     NaN    NaN         NaN
        2020-03-11         23        NaN     NaN    NaN         NaN
        2020-03-12         33        NaN     NaN    NaN         NaN
        2020-03-13         43        NaN     NaN    NaN         NaN
        2020-03-14         61        NaN     NaN    NaN         NaN
        2020-03-15         75        NaN     NaN    NaN         NaN
        2020-03-16        156        NaN     NaN    NaN         NaN
        2020-03-17        201        1.0     NaN    NaN         NaN
        2020-03-18        238        3.0     NaN    NaN         NaN
        2020-03-19        342        4.0     NaN    NaN         NaN
        2020-03-20        434        5.0     NaN    NaN         NaN
        2020-03-21        537        6.0     NaN    NaN         NaN
        2020-03-22        632        8.0     1.0    NaN         NaN
        2020-03-23        746       11.0     1.0    NaN         NaN
        2020-03-24        922       17.0     2.0    NaN         NaN
        2020-03-25       1142       22.0     3.0    NaN         NaN
        2020-03-26       1306       33.0     4.0    NaN         NaN
        2020-03-27       1610       43.0     5.0    NaN         NaN
        2020-03-28       1909       61.0     6.0    NaN         NaN
        2020-03-29       2139       75.0     7.0    NaN         NaN
        2020-03-30       2449      156.0     8.0    NaN         NaN
        2020-03-31       2738      201.0    12.0    NaN         NaN
        2020-04-01       3031      234.0    16.0  173.0         NaN
        2020-04-02       3404      335.0    18.0  200.0         NaN
        2020-04-03       3737      427.0    22.0  237.0         NaN
        2020-04-04       4161      528.0    27.0  280.0         NaN
        2020-04-05       4471      617.0    34.0  307.0         NaN
        2020-04-06       4815      728.0    37.0  327.0         NaN
        2020-04-07       5116      898.0    43.0  337.0         NaN
        2020-04-08       5546     1115.0    48.0  362.0         NaN
        2020-04-09       5972     1274.0    57.0  360.0     68353.0
        2020-04-10       6501     1571.0    65.0  383.0     72797.0
        2020-04-11       6927     1864.0    73.0  383.0     76374.0
        2020-04-12       7213     2059.0    80.0  387.0     82271.0
        2020-04-13       7525     2367.0    82.0  387.0     85035.0
        2020-04-14       7917     2646.0    92.0  379.0     84794.0
        2020-04-15       8273     2937.0    94.0  389.0     91864.0
        2020-04-16       8807     3299.0   105.0  384.0     98424.0
        2020-04-17       9252     3621.0   116.0  385.0    103873.0
        2020-04-18       9730     4035.0   126.0  360.0    108891.0
        2020-04-19      10088     4338.0   133.0  373.0    113649.0
        2020-04-20      10507     4676.0   139.0  377.0    118827.0
        2020-04-21      10832     4969.0   147.0  392.0    122357.0

In [125]:
prod_filename_map = {
        5: 'TotalesNacionales',
#         7: 'PCR',
        8: 'UCI',
    17: 'PCREstablecimiento',
#     22: 'HospitalizadosEtario'
    }
general_URL_form = 'https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto{}/{}.csv'

master_df = pd.DataFrame()

for num, name in prod_filename_map.items():
    url = general_URL_form.format(num, name)
    print(url)
    df = pd.read_csv(url)

    df = dataclean(df, name)

    master_df = master_df.join(df, how = 'outer')
    
# df = df.query('Examenes == "realizados"').T
# df = df[2:].astype('int64').sum(axis=1)
# df
master_df

# df.T.drop(['Grupo de edad', 'Sexo']).astype('int64').sum(axis=1).rename('Hospitalized').to_frame()
# df.T.drop(['Region', 'Codigo region', 'Poblacion']).replace('-', pd.NA).fillna(value=0).astype('int64').sum(axis=1).cumsum()

https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto5/TotalesNacionales.csv
https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto8/UCI.csv
https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto17/PCREstablecimiento.csv

           Confirmed Recovered Deaths    ICU  TotalTests
2020-03-03         1         0      0    NaN         NaN
2020-03-04         3         0      0    NaN         NaN
2020-03-05         4         0      0    NaN         NaN
2020-03-06         5         0      0    NaN         NaN
2020-03-07         7         0      0    NaN         NaN
2020-03-08        10         0      0    NaN         NaN
2020-03-09        15         0      0    NaN         NaN
2020-03-10        17         0      0    NaN         NaN
2020-03-11        23         0      0    NaN         NaN
2020-03-12        33         0      0    NaN         NaN
2020-03-13        43         0      0    NaN         NaN
2020-03-14        61         0      0    NaN         NaN
2020-03-15        75         0      0    NaN         NaN
2020-03-16       156         0      0    NaN         NaN
2020-03-17       201         1      0    NaN         NaN
2020-03-18       238         3      0    NaN         NaN
2020-03-19       342         4      0    NaN         NaN
2020-03-20       434         5      0    NaN         NaN
2020-03-21       537         6      0    NaN         NaN
2020-03-22       632         8      1    NaN         NaN
2020-03-23       746        11      1    NaN         NaN
2020-03-24       922        17      2    NaN         NaN
2020-03-25      1142        22      3    NaN         NaN
2020-03-26      1306        33      4    NaN         NaN
2020-03-27      1610        43      5    NaN         NaN
2020-03-28      1909        61      6    NaN         NaN
2020-03-29      2139        75      7    NaN         NaN
2020-03-30      2449       156      8    NaN         NaN
2020-03-31      2738       201     12    NaN         NaN
2020-04-01      3031       234     16  173.0         NaN
2020-04-02      3404       335     18  200.0         NaN
2020-04-03      3737       427     22  237.0         NaN
2020-04-04      4161       528     27  280.0         NaN
2020-04-05      4471       617     34  307.0         NaN
2020-04-06      4815       728     37  327.0         NaN
2020-04-07      5116       898     43  337.0         NaN
2020-04-08      5546      1115     48  362.0         NaN
2020-04-09      5972      1274     57  360.0     68353.0
2020-04-10      6501      1571     65  383.0     72797.0
2020-04-11      6927      1864     73  383.0     76374.0
2020-04-12      7213      2059     80  387.0     82271.0
2020-04-13      7525      2367     82  387.0     85035.0
2020-04-14      7917      2646     92  379.0     84794.0
2020-04-15      8273      2937     94  389.0     91864.0
2020-04-16      8807      3299    105  384.0     98424.0
2020-04-17      9252      3621    116  385.0    103873.0
2020-04-18      9730      4035    126  360.0    108891.0
2020-04-19     10088      4338    133  373.0    113649.0
2020-04-20     10507      4676    139  377.0    118827.0
2020-04-21     10832      4969    147  392.0    122357.0

In [114]:
load_chile_data()

https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto5/TotalesNacionales.csv
https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto8/UCI.csv
https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto17/PCREstablecimiento.csv

           Confirmed Recovered Deaths    ICU  TotalTests
2020-03-03         1         0      0    NaN         NaN
2020-03-04         3         0      0    NaN         NaN
2020-03-05         4         0      0    NaN         NaN
2020-03-06         5         0      0    NaN         NaN
2020-03-07         7         0      0    NaN         NaN
2020-03-08        10         0      0    NaN         NaN
2020-03-09        15         0      0    NaN         NaN
2020-03-10        17         0      0    NaN         NaN
2020-03-11        23         0      0    NaN         NaN
2020-03-12        33         0      0    NaN         NaN
2020-03-13        43         0      0    NaN         NaN
2020-03-14        61         0      0    NaN         NaN
2020-03-15        75         0      0    NaN         NaN
2020-03-16       156         0      0    NaN         NaN
2020-03-17       201         1      0    NaN         NaN
2020-03-18       238         3      0    NaN         NaN
2020-03-19       342         4      0    NaN         NaN
2020-03-20       434         5      0    NaN         NaN
2020-03-21       537         6      0    NaN         NaN
2020-03-22       632         8      1    NaN         NaN
2020-03-23       746        11      1    NaN         NaN
2020-03-24       922        17      2    NaN         NaN
2020-03-25      1142        22      3    NaN         NaN
2020-03-26      1306        33      4    NaN         NaN
2020-03-27      1610        43      5    NaN         NaN
2020-03-28      1909        61      6    NaN         NaN
2020-03-29      2139        75      7    NaN         NaN
2020-03-30      2449       156      8    NaN         NaN
2020-03-31      2738       201     12    NaN         NaN
2020-04-01      3031       234     16  173.0         NaN
2020-04-02      3404       335     18  200.0         NaN
2020-04-03      3737       427     22  237.0         NaN
2020-04-04      4161       528     27  280.0         NaN
2020-04-05      4471       617     34  307.0         NaN
2020-04-06      4815       728     37  327.0         NaN
2020-04-07      5116       898     43  337.0         NaN
2020-04-08      5546      1115     48  362.0         NaN
2020-04-09      5972      1274     57  360.0     68353.0
2020-04-10      6501      1571     65  383.0     72797.0
2020-04-11      6927      1864     73  383.0     76374.0
2020-04-12      7213      2059     80  387.0     82271.0
2020-04-13      7525      2367     82  387.0     85035.0
2020-04-14      7917      2646     92  379.0     84794.0
2020-04-15      8273      2937     94  389.0     91864.0
2020-04-16      8807      3299    105  384.0     98424.0
2020-04-17      9252      3621    116  385.0    103873.0
2020-04-18      9730      4035    126  360.0    108891.0
2020-04-19     10088      4338    133  373.0    113649.0
2020-04-20     10507      4676    139  377.0    118827.0
2020-04-21     10832      4969    147  392.0    122357.0

## Panama Data

Source: https://github.com/c0t088/DAP-Panama/blob/master/data_covid_pma_dia.csv

In [ ]:
def get_panama_data(verbose = False):
    if verbose: print("Retrieving Panama data")
    df = pd.read_csv('https://raw.githubusercontent.com/c0t088/DAP-Panama/master/data_covid_pma_dia.csv')

    fields_relevant = {
        'Fecha': 'Date',
        'Casos_confirmados': 'Confirmed',
        'Fallecidos_tot': 'Deaths',
        'Domicilio': 'Home',
        'Hosp_sala': 'Hospitalized',
        'Hosp_uci': 'ICU',
        'Recuperados': 'Recovered',
        'Pruebas negativas': 'NegTests',
        'Pruebas positivas': 'PosTests'
        }

    total_tests = df[['Fecha', 'Pruebas negativas', 'Pruebas positivas']].set_index('Fecha').cumsum().sum(axis=1).rename('TotalTests')

    df = df[list(fields_relevant.keys())]

    df.columns = [fields_relevant.get(c, c) for c in df.columns]
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.set_index('Date')

    df = df.join(total_tests).drop(columns = ['NegTests', 'PosTests'])
    df['Hospitalized'] = df['Hospitalized'] + df['ICU']
    
    return df

In [77]:


df

            Confirmed  Deaths  Home  Hospitalized  ICU  Recovered  TotalTests
Date
2020-03-09          1       0     1             0    0          0         105
2020-03-10          8       1     6             2    1          0         146
2020-03-11         11       1     9             4    1          0         194
2020-03-12         27       1    21             5    1          0         401
2020-03-13         36       1    30             5    1          0         649
2020-03-14         43       1    37             5    2          0         857
2020-03-15         55       1    44            10    6          0         976
2020-03-16         69       1    57            11    7          0        1073
2020-03-17         86       1    71            14    8          0        1245
2020-03-18        109       1    91            17    9          0        1455
2020-03-19        137       1   115            21   10          1        1768
2020-03-20        200       1   171            28   11          1        2169
2020-03-21        245       3   209            33   12          1        2472
2020-03-22        313       3   271            42   13          1        2541
2020-03-23        345       6   289            50   17          1        2675
2020-03-24        443       8   373            64   19          1        3132
2020-03-25        558       8   484            66   20          2        3690
2020-03-26        674       9   580            83   23          2        4298
2020-03-27        786      14   662           108   28          4        4664
2020-03-28        901      17   753           131   36          4        5204
2020-03-29        989      24   820           141   36          4        5602
2020-03-30       1075      27   888           109   43          4        6024
2020-03-31       1181      30   969           173   50          9        6386
2020-04-01       1317      32  1078           198   63          9        6775
2020-04-02       1475      37  1207           221   69         10        7383
2020-04-03       1673      41  1406           213   72         13        8136
2020-04-04       1801      46  1513           229   75         13        8698
2020-04-05       1988      54  1680           241   78         13        9141
2020-04-06       2100      55  1777           255   88         14        9656
2020-04-07       2249      59  1906           268   91         16       10123
2020-04-08       2528      63  2154           295  101         16       11218
2020-04-09       2752      66  2367           303  107         16       12025
2020-04-10       2974      74  2367           304  104         17       13648
2020-04-11       3234      79  2817           315  102         23       14588
2020-04-12       3400      87  2955           329  106         29       15147
2020-04-13       3472      94  2983           334  105         61       15567
2020-04-14       3574      95  3071           336  106         72       16053
2020-04-15       3751     103  3240           333  106         75       16854
2020-04-16       4016     109  3483           326   99         98       17850
2020-04-17       4210     116  3631           341   94        122       18559
2020-04-18       4273     120  3664           349   95        140       19091
2020-04-19       4467     126  3819           357   98        165       20137
2020-04-20       4658     136  3954           364   98        204       20996
2020-04-21       4821     141  4094           355   94        231       21902

In [69]:
total_tests

Fecha
03/09/2020      105
03/10/2020      146
03/11/2020      194
03/12/2020      401
03/13/2020      649
03/14/2020      857
03/15/2020      976
03/16/2020     1073
03/17/2020     1245
03/18/2020     1455
03/19/2020     1768
03/20/2020     2169
03/21/2020     2472
03/22/2020     2541
03/23/2020     2675
03/24/2020     3132
03/25/2020     3690
03/26/2020     4298
03/27/2020     4664
03/28/2020     5204
03/29/2020     5602
03/30/2020     6024
03/31/2020     6386
04/01/2020     6775
04/02/2020     7383
04/03/2020     8136
04/04/2020     8698
04/05/2020     9141
04/06/2020     9656
04/07/2020    10123
04/08/2020    11218
04/09/2020    12025
04/10/2020    13648
04/11/2020    14588
04/12/2020    15147
04/13/2020    15567
04/14/2020    16053
04/15/2020    16854
04/16/2020    17850
04/17/2020    18559
04/18/2020    19091
04/19/2020    20137
04/20/2020    20996
04/21/2020    21902
Name: TotalTests, dtype: int64