In [1]:
import plotly.express as px
import numpy as np
import pandas as pd
import DataClean
import datetime
import os
# import plotly.graph_objects as go

In [24]:
import pickle

In [25]:
dat = pickle.load(open('compiled_data.p', 'rb'))
countries = list(dat.index.get_level_values(0).unique())
stats = list(dat.columns)
stat_map = {
    'DailyPosTestRate': 'Daily Positive Test Rate',
    'Confirmed': 'Confirmed Tests',
    'NewTests': 'Daily New Tests',
    'CumulativePosTestRate': 'Cumulative Positive Test Rate',
    'NewCases': 'New Cases',
    'TotalTests': 'Total Tests',
    'ConfirmedGrowth': 'Daily Confirmed Cases Growth (%)',
    'CumulativeDeathRate': 'Cumulative Death Rate',
    'HospitalizationRate': 'Hospitalization Rate',
    'TotalTestsPer10k': 'Total Tests per 10k Population',
    'ConfirmedPer10k': 'Total Confirmed per 10k Population',
    'NewTestsPer10k': 'Daily Tests per 10k Population'
}

xs = ['DaysSinceFirst', 'Date', 'DaysSinceTenthDeath', 'DaysSinceShutdown']
xs_map = {'DaysSinceFirst': 'Days Since First Confirmed',
         'DaysSinceTenthDeath': 'Days Since 10th Death',
         'DaysSinceShutdown': 'Days Since Economic Shutdown'}

# Important Dates by Country:

### Peru
- Sourhces: ministerio de salud, wikipedia page
* March 11 - Declaran emergencia sanitaria por 90 dias
* March 13 - Suspenden vuelos internacional desde Europa y Asia
* March 16 - Teletrabajo para todos menos los esenciales
* March 17 - Cierran fronteras
* March 18 - Cuarentena general entre 8PM y 5 AM.
* https://www.dge.gob.pe/portal/

### Panama
* Something

### Guatemala
- Source: Alejandro Giammattei twitter
* March 22 - Cuarentena general entre 4 PM y 4 AM por 8 dias

### Testing Analysis stuff

In [37]:
import pandas as pd
import numpy as np
import datetime

In [78]:
r = pd.read_csv('data/Colombia_data.csv',
            index_col=0,
            parse_dates = True)

status_codes = {
    'Casa': 'I',
    'Hospital': 'I',
    'Hospital UCI': 'I',
    'Fallecido': 'D',
    'Recuperado': 'R' 
}

In [79]:
class Person:
    def __init__(self, city, zip_code, age, diag_date, death_date, rec_date, sex, status):
        self.city = city
        self.zip_code = zip_code
        self.age = age
        self.diag_date = diag_date
        self.death_date = death_date
        self.rec_date = rec_date
        self.sex = sex
        self.status = status
        self.infection_status = status_codes.get(status, 'I')
    
    def __repr__(self):
        return '(City: {}, Sex: {}, Age: {}, Status: {})'.format(self.city, self.sex, self.age, self.status)

In [80]:
people = []
TODAY = datetime.date.today()
for p in r.iterrows():
    x = p[1]
    city = x.ciudad_de_ubicacion
    zip_code = x.codigo_divipola
    age = x.edad
    diag_date = x.fecha_diagnostico
    death_date = x.fecha_de_muerte
    rec_date = x.fecha_recuperado
    sex = x.sexo
    status = x.iloc[-1]
    person = Person(city, zip_code, age, diag_date, death_date, rec_date, sex, status)
    people.append(person)

In [94]:
import requests
from bs4 import BeautifulSoup

# people[:5]
#Use the data on Colombia demographics to create a probability density for people. Then sample
#(N - patients) people in order to get a population. Note: This may be a LOT of individuals to handle, we'll see
#what happens.
#https://en.wikipedia.org/wiki/Demographics_of_Colombia

#1) Age: 0-14: 26.7%.  15-64: 65.6%.  65+: 7.6%
# P(sex and age) = P(sex|age) P(age)
# Should be a "normal" distribution shape (maybe gamma) where probabilities are as above.
# sample age
# P(male|age < 15) = 1.03/(2.03). P(male|age in 15-64) = 0.95/(1.95). P(male | age > 64) = 0.75/1.75


"""
0-4: 6.88%    5-9: 7.55%    10-14: 8.17%
15-19: 8.72%  20-24: 8.92%  25-29: 8.36%
"""
website_url = 'https://en.wikipedia.org/wiki/Demographics_of_Colombia'

s = requests.get(website_url).text

s = BeautifulSoup(s)

In [102]:
age_groups_table = s.find_all('table', {'class': 'wikitable'})[2]

In [238]:
header = [th.text.rstrip() for th in age_groups_table.find_all('th')]
# header.remove('Total')

to_keep = [0, 1, 2, 3, 4]

col_to_h = {i:j for i, j in zip(to_keep, header)}

c = {i:[] for i in to_keep}

for row in age_groups_table.find_all('tr'):
    cells = row.find_all('td')
    if len(cells) == 5 and cells[0].find(text=True).rstrip() != 'Total':
        for i in to_keep:
            c[i].append(cells[i].find(text=True).rstrip())
#         c0.append(cells[0].find(text=True).rstrip())
#         c1.append(cells[1].find(text=True).rstrip())
#         c2.append(cells[2].find(text=True).rstrip())
#         c4.append(cells[4].find(text=True).rstrip())

In [239]:
c = {col_to_h[i]: d for i, d in c.items()}

d = pd.DataFrame(c)

In [240]:
d.columns = [x.replace(' ', '_') for x in d.columns]
d.columns = [x.replace('%', 'Percent') for x in d.columns]
d['Age_Group'] = d.Age_Group.str.replace('+', '-100')
d['Age_Group'] = d.Age_Group.str.replace('â€“', '-')

In [241]:
m = d.Age_Group.str.split('-', expand=True)

d['min_age_group'] = m[0]
d['max_age_group'] = m[1]

d = d.drop(columns = ['Age_Group'])

In [242]:
for c in d.columns:
    if c != 'Percent':
        d[c] = pd.to_numeric(d[c].str.replace(',', ''))
    else:
        d[c] = pd.to_numeric(d[c].str.replace(',', '.'))

In [243]:
d

       Male   Female    Total  Percent  min_age_group  max_age_group
0   1698699  1621485  3320184     6.88              0              4
1   1862778  1780738  3643516     7.55              5              9
2   2017205  1925513  3942718     8.17             10             14
3   2152328  2055812  4208140     8.72             15             19
4   2166806  2137851  4304657     8.92             20             24
5   2007553  2026857  4034410     8.36             25             29
6   1804867  1857952  3662819     7.59             30             34
7   1703524  1809693  3513217     7.28             35             39
8   1428451  1568401  2996852     6.21             40             44
9   1360889  1529794  2890683     5.99             45             49
10  1327108  1510491  2837599     5.88             50             54
11  1153378  1336760  2490138     5.16             55             59
12   916911  1076164  1993075     4.13             60             64
13   699748   820394  1520142     3.15             65             69
14   501888   598405  1100293     2.28             70             74
15   357112   443978   801090     1.66             75             79
16   415967   582994   998961     2.07             80            100

## Mexico Data

In [84]:
import requests
import zipfile
import io
import pandas as pd
import numpy as np
import datetime

In [11]:
url = "http://187.191.75.115/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip"

r = requests.get(url, stream = True)

In [13]:
f = zipfile.ZipFile(io.BytesIO(r.content))
print(f.namelist())

['200420COVID19MEXICO.csv']

In [18]:
with f.open(f.namelist()[0]) as thefile:
    res = pd.read_csv(thefile)

### Useful variable(s) and definitions:
- Sexo: 1 mujer, 2 hombre, 99 not specified
- Edad
- Resultado: 1 positivo, 2 negativo, 3 sospechoso
- Tipo Paciente: 1 hospitalizado, 2 fue a su casa, 99 no especificado
- Fecha Def: fecha en que fallece. No fallecido is '9999-99-99'

In [44]:
to_keep = ['FECHA_ACTUALIZACION', 'FECHA_INGRESO', 'RESULTADO', 'TIPO_PACIENTE', 'FECHA_DEF']
res.EDAD.unique()

array([ 75,  31,  22,  26,  50,  55,  52,  41,  40,  29,  71,  18,  69,
        45,  64,  61,  33,  51,  77,  84,  59,  53,  54,  43,  23,  65,
        30,  32,  21,  58,  27,  44,  48,  68,  60,  47,  35,  76,  24,
        39,  37,  42,  70,  74,  38,  36,   8,   6,  17,  25,  49,  28,
        34,  72,  46,  67,  57,  56,   2,  73,   1,  62,  82,   4,  19,
        80,  89,   3,  20,  12,  11,  85,  63,  87,   5,  81,  83,  96,
        66,  10,  15,  13,  78,  90,   0,   9,  95, 107,  86,  16,   7,
        94,  88,  14,  93,  79,  91,  92, 102,  99,  97, 109, 100, 113,
        98, 120, 101], dtype=int64)

In [101]:
# pd.to_datetime(res.FECHA_DEF.str.replace('9999-99-99', str(np.nan)))
# (res['RESULTADO'] == 1).sum()
# res.POSITIVE.sum()
# res.FECHA_DEF
# res[to_keep].dtypes
# res.ID_REGISTRO.unique()

array(['09e8dc', '1dd782', '0efbaf', ..., '145db8', '17eb11', '02242c'],
      dtype=object)

In [34]:
# 1) http://187.191.75.115/gobmx/salud/datos_abiertos/historicos/datos_abiertos_covid19_19.04.2020.zip
# 2) http://187.191.75.115/gobmx/salud/datos_abiertos/historicos/datos_abiertos_covid19_18.04.2020.zip
# 3) http://187.191.75.115/gobmx/salud/datos_abiertos/historicos/datos_abiertos_covid19_20.04.2020.zip
# r = requests.get('http://187.191.75.115/gobmx/salud/datos_abiertos/historicos/datos_abiertos_covid19_20.04.2020.zip')
# 4) http://187.191.75.115/gobmx/salud/datos_abiertos/historicos/datos_abiertos_covid19_12.04.2020.zip
# r.status_code

404

In [221]:
def clean_mx_data(df, date):
    """
    Should return a row of a df, indexed by Date, Country (Mexico) with columns Confirmed,
    Totaltests (confirmed + negative), Deaths. Hospitalization would also be nice.
    """
    result_df = {}
    
    
#     result_df['Date'] = pd.to_datetime(df.FECHA_ACTUALIZACION.iloc[0])
    result_df['Date'] = date
    result_df['Country'] = 'Mexico'
    result_df['Confirmed'] = (df['RESULTADO'] == 1).sum()
    result_df['TotalTests'] = (df['RESULTADO'] == 2).sum() + result_df['Confirmed']
    result_df['Deaths'] = df.query('RESULTADO == 1 & FECHA_DEF != "9999-99-99"').FECHA_DEF.count()
    
#     dtypes = {
#         'Date': np.datetime64,
#         'Country': np.str_,
#         'Confirmed': 'int64',
#         'Totaltests': 'int64',
#         'Deaths': 'int64'
#     }
    
    result_df = pd.DataFrame(result_df, index = [0])
    
    return result_df

In [218]:
# res[res[res.RESULTADO == 1 & res.FECHA_DEF != '9999-99-99']]
res.query('RESULTADO == 1 & FECHA_DEF != "9999-99-99"').FECHA_DEF.count()

712

In [222]:
def get_mexico_data(days_backwards = 7, verbose = False):
#     start = pd.to_datetime('12-Apr-2020')
#     start = pd.to_datetime('19-Apr-2020')
#     end = pd.to_datetime('14-Apr-2020')
    end = datetime.date.today()
    start = datetime.date.today() - datetime.timedelta(days = days_backwards)
    dates_to_see = pd.date_range(start, end)
    
    res = pd.DataFrame()
    
    for d in dates_to_see:
        if verbose: print('Mexico pulling for {}'.format(d.strftime('%d-%m-%Y')))
        url = "http://187.191.75.115/gobmx/salud/datos_abiertos/historicos/datos_abiertos_covid19_{}.zip".format(
        d.strftime('%d.%m.%Y'))
#         print(url)
        r = requests.get(url, stream = True)

        #fof represents 404 error on first try. Means we've reached last day of data.
        fof = r.status_code == 404
        if fof:
            #If it's not under historical, grab most recent
            r = requests.get("http://187.191.75.115/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip")

        f = zipfile.ZipFile(io.BytesIO(r.content))
        with f.open(f.namelist()[0]) as thefile:
            df = pd.read_csv(thefile)
        
        #Takes care of case when we had to go to recent df and it's yesterday's data.
        if fof and df.FECHA_ACTUALIZACION.iloc[0] != d:
            continue
        
        c = clean_mx_data(df, d)
        res = res.append(c)
        
    return res.set_index(['Country', 'Date']).astype('int64')

In [223]:
r = get_mexico_data(days_backwards = 7)

In [206]:
for i in range(1, 5):
    if i ==3:
        continue
    print(i)

1
2
4

In [224]:
r

                    Confirmed  TotalTests  Deaths
Country Date
Mexico  2020-04-18       7497       36798     650
        2020-04-19       8261       39431     686